/* reset rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;
    color: rgb(51, 255, 0);
    font-weight: 600;
}
/* general rules */
body{
    display: flex;
    background: radial-gradient(circle, rgb(19, 18, 18) 0%, rgb(31, 31, 31) 100%) ;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    height: 100vh;
}
button{
    background:rgba(63, 63, 63, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.7);
    font-size: 6rem;
    cursor: pointer;
}
body .container_tris .not-allowed{
    opacity: .5;
    cursor:not-allowed;
}
/* /general rules */

/* container section */
body h1{
    width: 100%;
    text-align: center;
    font-size:3rem;
    margin-bottom: 1rem;
}
.container_tris{
    width: 60%;
    height: 60%;
    grid-template-columns: calc(100% /3) calc(100% /3) calc(100% /3);
    grid-template-rows: calc(100% /3) calc(100% /3) calc(100% /3);
    display: grid;

}
.container_tris .top_left_angle,
.container_tris .top_right_angle,
.container_tris .top_center_angle
{
    border-top:0;
}
.container_tris .top_left_angle{
    border-left: 0;
}
.container_tris .top_right_angle{
    border-right: 0;
}
.container_tris .middle_left_angle{
    border-left: 0;
}
.container_tris .middle_right_angle{
    border-right: 0;
}
.container_tris .bottom_left_angle,
.container_tris .bottom_right_angle,
.container_tris .bottom_center_angle
{
    border-bottom:0;
}
.container_tris .bottom_left_angle{
    border-left: 0;
}
.container_tris .bottom_right_angle{
    border-right: 0;
}